@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300&display=swap');

.body body {
    font-family: 'Kumbh Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ADC2C0;
}

.profile-setup {
    background-color: #ADC2C0;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.body 
h2, h3 {
    margin: 0;
    padding-bottom: 20px;
    text-align: center;
}

.body label {
    display: block;
    margin-top: 20px;
}

.body input[type="text"], select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 30px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.choice-btn {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 30px;
    background-color: #ddd;
    cursor: pointer;
}

.choice-btn:hover {
    background-color: #b5b5b5;
}

.submit-btn {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    border: none;
    border-radius: 15px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #45a049;
}