.messages{
    background-color: #CDD7D6;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.messagesContainer{
    border-radius: 10px;
    display: flex;
    width: 95%;
    height: 90%;
    gap: 1.5%;
}

.leftSidebar{
    flex: 1;
    background-color: #809996;
    border-radius: 10px;
    overflow: hidden;
}

.chats{
    flex: 2;
    background-color: #ADC2C0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.rightSidebar{
    flex: 1;
    background-color: #809996;
    border-radius: 10px;
    display: flex;
    gap: 1vh;
    flex-direction: column;
    align-items: center;
}

.displayProfilePic {
    width: 10vw;
    height: 10vw;
    min-width: 100px;
    min-height: 100px;
    border-radius: 50%;
    margin: 3vh 0 0 0;
    background-color: transparent;
}

.userName{
    font-size: 40px;
    font-family: 'Kumbh Sans', sans-serif;
    color: white;
}

.userChat{
    display: flex;
    align-items: center;
    gap: 1vw;
    cursor: pointer;
    background-color: #597370;
}

.userChat:hover{
    background-color: #597370;
}

.userChatInfo span{
    font-size: 30px;
    font-family: 'Kumbh Sans', sans-serif;
    color: white;
}

.messagingProfilePic {
    width: 4vw;
    height: 4vw;
    min-width: 50px;
    min-height: 50px;
    border-radius: 50%;
    margin-left: 1vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    background-color: transparent;
}

.inputBar{
    display: flex;
    margin-top: auto;
    margin-bottom: 10px;
    height: 10%;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.chatInput{
    background-color: white;
    width: 75%;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-family: 'Kumbh Sans', sans-serif;
}

.startCall{
    margin-top: auto;
    height: 90%;
    width: 10%;
    background-color: #3CB371;
    color: white;
    font-size: 20px;
    font-family: 'Kumbh Sans', sans-serif;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
}

.sendMessage{
    margin-top:auto;
    height: 90%;
    width: 10%;
    background-color: #3CB371;
    color: white;
    font-size: 20px;
    font-family: 'Kumbh Sans', sans-serif;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
}

.chatInput:focus{
    outline: none;
}

.messageContainer{
    display: flex;
    flex-direction: column;
    height: 80%;
    overflow: auto;
}

.message{
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
    align-items: center;
}

.inTextPic{
    width: 2vw;
    height: 2vw;
    min-width: 40px;
    min-height: 40px;
    border-radius: 50%;
    background-color: transparent;
    margin-right: 10px;
}

.messageBody{
    max-width: 70%;
    background-color: white;
    padding: 1vh 1vw;
    border-radius: 0px 10px 10px 10px;
}

.call{
    background-color: #3CB371;
}

.call a{
    text-decoration: none;
}
.owner{
    flex-direction: row-reverse;
    margin-right: 15px;
}
.owner .inTextPic{
    margin-left: 10px;
}

.owner .messageBody{
    border-radius: 10px 0px 10px 10px;
}

/* Modal content styling */
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: #333; /* or any color you have set for var(--dark-bg) */
    border-radius: 20px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    outline: none; /* It's a good practice to remove the outline for modals */
  }
  
  /* Modal input styling */
  .modal-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px; /* adjust as needed */
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  /* Modal button styling */
  .modal-button {
    background-color: #3cb371;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: bold;
    width: 100%;
    margin-top: 10px; /* adjust as needed */
    text-align: center;
  }
  
  /* Modal button for cancel action styling, if it's needed */
  .modal-button-cancel {
    background-color: #dc3545;
  }
  